<div class="containerTot">
  <!-- Sezione body -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <!-- Contenuto colonna 4 -->
        <p class="text-danger"></p>
      </div>
      <div class="col-8">
        <!-- Contenuto colonna 8 -->
        <p>Ingredients</p>
      </div>
    </div>
    <div class="row center-row">
      <div class="col-4">
        <!-- Contenuto colonna 4 -->
        <img [src]="" class="card-img-top img-fluid" [alt]="" />
        <p class="description"></p>
      </div>
      <div class="col-8">
        <!-- Contenuto colonna 8 -->
        <div class="row justify-content-between">
          <div class="col-6 text-center">
            <div class="card m-3 bg-black">
              <img
                src="../../assets/Coconut rum-Medium.png"
                class="card-img-top img-fluid"
                [alt]=""
              />
              <div class="card-body">
                <p class="description"></p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card m-3 bg-black">
              <img
                src="../../assets/Amaretto-Medium.png"
                class="card-img-top img-fluid"
                [alt]=""
              />
              <div class="card-body">
                <p class="description"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="card m-3 bg-black">
              <img
                src="../../assets/Orange juice-Medium.png"
                class="card-img-top img-fluid"
                [alt]=""
              />
              <div class="card-body">
                <p class="description"></p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card m-3 bg-black">
              <img
                src="../../assets/Grenadine-Medium.png"
                class="card-img-top img-fluid"
                [alt]=""
              />
              <div class="card-body">
                <p class="description"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
