/* Sezione NavBar */

/* .navbar-component {
  color: white;
  background-color: red;
}

.navbar {
  width: 100%;
}

hr {
  height: 15%;
  width: 100%;
  color: red;
}
img {
  width: 60%;
  height: 80%;
} */

/* Sezione container */

/* .container {
  width: 100%;
  height: auto;
  display: flex;
} */

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
